body{
    padding-bottom: 150px;
}

html {
    position: relative;
    min-height: 100%;
}

.sticky-top{
    background-color: white;
}

.hand {
    cursor: pointer;
}

.container-form {
    width: 33%;
    min-width: 340px;
    color: orange;
}

.container-info {
    width: 66%;
    min-width: 600px;
}

.full-page {
    width: 100%;
    height: 100%;
}

.href {
    color: orange;
}

.icon {
    width: 100%;
    height: 100%;
}

.input-group-text {
    min-width: 9rem;
}

.ordinary-user {
    color: orange;
}

.premium-user {
    color: teal;
}

.card {
    min-height: 18rem;
}

.footer{
    position: absolute;
    bottom: 0;
    background-color:white;
    color: black;
}

.footer-div{
    display: inline-block;
    width: 33%;
    text-align: center;
    vertical-align: top;
}

.footer-div p{
    margin: 0px;
}

.home-cards{
    width: 100%;
}

.home-card{
    width:33%;
    text-align: center;
    font-weight: bold;
    display:inline-block;
    font-size: 25px;
}

.home-count{
    color: orange;
    font-size: 75px;
    margin-bottom: -10px;
}

.home-info{
    color: orange;
}

.home-middle{
    width: 100%;
    color: whitesmoke;
    background: #555;
    font-size: 35px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.slider-text{
    color: orange;
    background-color: white;
}

.footer-icons img{
    height: 48px;
    width: 48px;
    margin: 0px 10px 0px 10px;
}

.search-bar{
    padding-top: 20px;
    padding-bottom: 20px;
    background: grey;
}

.result-div{
    min-height: 400px;
}



/* admin app css*/
.adminLoginContainer{
    width: 30%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
    background: white;
    
}

.adminPanel{
    font-size: 35px;
    text-align: center;
}

.admin-options{
    text-align: center;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    background: orange;

}

.admin-options a{
    color: white;
    font-weight: bold;
    font-size:20px;
    text-decoration: none;
}

.result-body{
    width: 100%;
    margin: 20px;
    padding-left: 10px;
    padding-top:10px;
}

.result-body-premium{
    width: 100%;
    margin: 20px;
    padding-left: 10px;
    padding-top:10px;
    background: #ffe2aa;
}

.result-image{
    width: 15%;
    display: inline-block;
    padding-right: 20px;
    vertical-align: top;
}

.result-info{
    display: inline-block;
    word-wrap: break-word;
    width: 80%;
}

.admin-users-toolbar{
    padding-top: 20px;
    padding-bottom: 10px;
    background: whitesmoke;
    font-weight: bold;
    text-align: center;
}

.admin-users-toolbar input{
    margin-right: 5px;
}

.user-stats-body{
    width: 100%;
    padding: 10px;
    padding-top: 30px;
    vertical-align: top;
}

.user-stats-img{
    width: 25%;
    font-size: 25px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}
.user-stats-data{
    width: 75%;
    text-align: left;
    display: inline-flex;
    padding-left: 20px;
    vertical-align: top;
    height: 100%;
}

.user-stats-card{
    width:30%;
    text-align: center;
    background: #2a4d69;
    border-radius: 10px;
    height: 100%;
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    padding:10px;
    flex:1;
}

.user-stats-card p{
    margin: 0;
    color:white;
}

.editUserDiv{
    padding: 20px;
    text-align: center;
}

.edit-context-menu{
    padding:10px;
    background: whitesmoke;
    border-radius: 3px;
}

.edit-menu-item{
    cursor: pointer;
}

.more-service-stats{
    width: 100%;
    padding: 10px;
    background: #2a4d69;
    border-radius: 10px;
    font-size: 25px;
    color: white;
    text-align: center;
}